<div class="">
    <div *ngIf="!fetching" class="flex flex-row">

        <app-navleft></app-navleft>
        <!-- <app-navleft-v2></app-navleft-v2> -->
        <div class="flex flex-col h-screen w-full">
            <app-c-navtop></app-c-navtop>
            <div class="flex-grow w-full pt-6 px-6 overflow-scroll">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <div *ngIf="fetching" class="h-screen w-screen flex items-center justify-center">
        loading
    </div>
</div>