<div class="flex flex-row justify-between w-full p-4 py-2 border-[#b8aa5f] border-b-2 drop-shadow-md">
    <p></p>
    <div class="flex flex-row items-center py-1  ml-4">

        <div>



            <button (click)="go_to_profile()" id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
                class="flex flex-row items-center">
                <div class=" w-11 h-11 rounded-full bg-black mr-4">
                </div>
                <div class="flex flex-col w-fit pr-4 transition-all">
                    <p class="text-start">{{empl_name}}</p>
                    <div class="flex flex-row items-center ">
                        <p>{{empl_jobcode}}</p>
                        <div class="mx-2 w-2 h-2 bg-[#b8aa5f] rounded-full"></div>
                        <p>{{office_name}}</p>
                    </div>
                </div>
            </button>




        </div>
    </div>
</div>