<div class="flex flex-row justify-between w-full p-4 py-2 border-[#b8aa5f] border-b-2 drop-shadow-md text-xs">
    <div></div>
    <div class="flex flex-row items-center py-1 ml-4">
        
        
        <div *ngIf="spawn_warning"
            class="mr-4 fill-red-300 "
            matTooltipClass="mat-tooltip"
            [matTooltip]="warning_str"

        >
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 256 256">
                <path d="M236.8,188.09,149.35,36.22h0a24.76,24.76,0,0,0-42.7,0L19.2,188.09a23.51,23.51,0,0,0,0,23.72A24.35,24.35,0,0,0,40.55,224h174.9a24.35,24.35,0,0,0,21.33-12.19A23.51,23.51,0,0,0,236.8,188.09ZM222.93,203.8a8.5,8.5,0,0,1-7.48,4.2H40.55a8.5,8.5,0,0,1-7.48-4.2,7.59,7.59,0,0,1,0-7.72L120.52,44.21a8.75,8.75,0,0,1,15,0l87.45,151.87A7.59,7.59,0,0,1,222.93,203.8ZM120,144V104a8,8,0,0,1,16,0v40a8,8,0,0,1-16,0Zm20,36a12,12,0,1,1-12-12A12,12,0,0,1,140,180Z"></path>
            </svg>
        </div>
        
        
        <div>
            <button (click)="go_to_profile()" id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
                class="flex flex-row items-center">
                <div class=" w-8 h-8 border-2 border-[#bbb] rounded-full mr-4 overflow-hidden">
                    <img  src='assets/img/profile_default.png'>
                </div>
                <div class="flex flex-col w-fit pr-4 transition-all">
                    <p class="text-start">{{empl_name}}</p>
                    <div class="flex flex-row items-center ">
                        <p>{{empl_jobcode}}</p>
                        <div class="mx-2 w-2 h-2 bg-[#b8aa5f] rounded-full"></div>
                        <p>{{office_name}}</p>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>