<div class="h-screen w-[275px] bg-white border-r-2  drop-shadow-lg ">
    <ul class="p-4 flex flex-col">
        <div class="">
            <div class="w-full flex justify-center">
                <div class="p-4 w-full flex justify-center">
                    <img class="h-[14vh]" src='assets/img/w_nav_logo_small.png'>
                </div>
            </div>

            <div class="flex flex-col font-semibold justify-center items-center">
                <p class="text-xl">
                    Transpacific Finance
                </p>
                <p class="text-2xl">
                    E-Approval
                </p>
            </div>
        </div>

        <div class="w-full h-[2px] bg-[#b8aa5f] mt-8"></div>

        <div class="flex flex-col">
            <a *ngFor="let item of menuItems" [routerLink]="item.route" href={{item.route}}
                routerLinkActive="active-link" class="menu_c_con my-2 p-4 text-lg rounded-md transition-all">
                {{item.name}}
            </a>
        </div>
    </ul>
</div>