<div>

    <div class="flex flex-row space-x-2 items-end">
        <div class="text-lg">PM2 Instance (sudo)</div>
        <button class="p-1 border border-blue-800 text-blue-800 flex  space-x-1 flex-row items-center justify-center rounded-md text-[14px]">
            <p>Reload</p>
            <ng-icon name="'bootstrapArrowClockwise'"></ng-icon>
        </button>
    </div>

    <div class="py-1"></div>

    <div *ngIf="arr_pm2.length == 0">
        <p class="text-gray-400">No PM2 instances</p>
    </div>

    <div *ngIf="arr_pm2.length != 0" class="border border-gray-300 rounded-md text-xs w-fit">
        <table class="table-fixed w-fit">
            <thead class="divide-y border-b-gray-300 border-b ">
                <tr>
                    <th class="w-[40px] border-slate-500 font-medium py-1">No</th>
                    <th class="w-[80px] border-x border-gray-300 font-medium">PID</th>
                    <th class="w-[300px] border-x border-gray-300 font-medium">Name</th>
                    <th class="w-[60px] border-x border-gray-300 font-medium">CPU</th>
                    <th class="w-[100px] border-x border-gray-300 font-medium">Memory</th>
                    <th class="w-[100px] border-x border-gray-300 font-medium">Status</th>
                    <th class="w-[150px] border-x border-gray-300 font-medium">Uptime</th>
                </tr>
            </thead>

            <tbody class="">
                <tr *ngFor="let item of arr_pm2, index as i">

                    <td class="border-x px-3 border-gray-300 border-l-0 ">
                        <p class="flex py-1 justify-center">{{ i+1 }}</p>
                    </td>

                    <td class="border-x px-3 border-gray-300 border-l-0 ">
                        <p>{{item['pid']}}</p>
                    </td>

                    <td class="border-x px-3 border-gray-300 border-l-0 ">
                        <p>{{item['name']}}</p>
                    </td>

                    <td class="border-x px-3 border-gray-300 border-l-0 ">
                        <p>{{item['monit']['cpu']}}</p>
                    </td>

                    <td class="border-x px-3 border-gray-300 border-l-0 ">
                        <p>{{get_ram(item['monit']['memory'])}}</p>
                    </td>

                    <td class="border-x px-3 border-gray-300 border-l-0 text-center">
                        <p>{{item['pm2_env']['status']}}</p>
                    </td>

                    <td class="border-x px-3 border-gray-300 border-l-0 ">
                        <p>{{get_uptime(item['pm2_env']['pm_uptime'])}}</p>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>


    <!-- <div *ngIf="arr_installed_db.length != 0" class="flex flex-row space-y-2">
        <div *ngFor="let item_db of arr_installed_db" class="flex flex-col">
            <p>{{item_db}}</p>
        </div>
    </div> -->
</div>