<div
    class="w-fit h-fit rounded-md bg-white p-2 px-3"
>
    <div class="flex flex-row justify-start">
        <p class="text-xl">Request ID :</p>
        <div class="mx-1"></div>
        <p class="text-xl tracking-wide font-medium ">{{req_data['req_id']}}</p>
    </div>
    
    <div class="my-6"></div>

    <div class="h-[60vh] overflow-y-auto pr-2">

        <!-- =================== APPROVE STATUS =================== -->

        <div 
            class="flex flex-col items-start justify-start p-2 border-2 rounded-md"
            [ngClass]="{
                    'border-[#3ba62b] bg-[#e4ffdf]' : act_appr == 'AP',
                    'border-[#a62b2b] bg-[#ffdfdf]' : act_appr == 'RJ',
                    'border-[#cfc038] bg-[#fff9c7]' : act_appr == 'RC'
            }"
        >
            <p class="text-xl mb-1">Approval Status :</p>
    
            <div class="my-1"></div>
    
            <select [(value)]="act_appr" (change)="on_appr_change($event)"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block p-[6px] pb-[8px] text-md tracking-wide">
                <option 
                    *ngFor="let item_appr of arr_approval" [value]="item_appr['appr']"
                >
                    {{item_appr['appr_name']}}
                </option>
            </select>
        </div>
    
        
        <div class="my-4"></div>
    
        <!-- =================== REASON =================== -->

        <div class="flex flex-col text-sm">
            <p class="text-xl mb-1">Reason :</p>
            
            <div class="my-1"></div>
            
            <textarea 
                (input)="on_reason_change($event)"
                type="text"
                class="p-1 w-full h-[72px] tracking-wide rounded-md border-[#aaa] border-2 focus:ring-0 outline-[#999] transition-all resize-none"
            ></textarea>
        </div>
    
        
        <div class="my-4"></div>
    
        <div class="">
            <app-c-signature-pad (base64_sig_data)="change_sig($event)"></app-c-signature-pad>
        </div>
    
        <div class="my-8"></div>
    

    </div>

    <!-- =================== APPROVE BUTTON =================== -->

    <div class="flex flex-row">
        <button
            (click)="send_approve()"
            [ngClass]="{
                'bg-[#333] text-white': canSend == true,
                'bg-[#888] opacity-50 cursor-default': canSend == false
            }"
            class="p-2 px-4 text-white rounded-md transition-all"
        >Proses</button>

        <div class="mx-2"></div>

        <button (click)="onExit()" class="p-2 px-4 bg-[#888] text-white rounded-md">Cancel</button>
    </div>

    
</div>
