<div class="">

    <div class="flex flex-row items-center text-base">
        <div class="">
            <p class="mb-2 text-[#282828]">Divisi</p>
            <p class="mb-2 font-medium tracking-wider border-2 border-[#c1c1c1] rounded-md p-1 w-fit px-2 ">{{act_divisi.EMPL_JOB_NAME}}</p>
        </div>
        
        <div class="mx-8 w-[2px] h-20 bg-[#c1c1c1]"></div>
    
        <div class="">
            <p class="mb-2 text-[#282828]">Cabang / Outlet</p>
            <p class="mb-2 font-medium tracking-wider border-2 border-[#c1c1c1] rounded-md p-1 w-fit px-2 ">{{user_cabang}}</p>
        </div>
    </div>

    <div class="pb-8"></div>

    <div class="flex items-center">
        <p class="text-[#282828]">Info Pengajuan : </p>
        <div class="mx-2"></div>
        <input [(ngModel)]="str_info_pengajuan"
        placeholder="Info Pengajuan"
        class="p-2 w-[40vw] tracking-wide rounded-md border-gray-200 border-2 focus:ring-0 outline-blue-200 transition-all"
        type="text">

    </div>

    <div class="pb-8"></div>


    <div class="border border-gray-300 rounded-md overflow-hidden">

        <div class="bg-gray-100">
            <p class="text-xl py-2 pl-3 tracking-wide">Pengajuan</p>
        </div>



        <div class="overflow-y-auto h-[50vh] pb-2 border-b-2 text-sm">
            <table class=" w-full table-fixed divide-y divide-gray-200 rounded-t-md">
                <thead class="">
                    <tr>
                        <th class="w-[40px] border-slate-500 font-medium pl-2 py-4">No</th>
                        <th class="flex-grow border-slate-500 font-medium">Keterangan</th>
                        <th class="w-[10%] border-slate-500 font-medium">Bank</th>
                        <th class="w-[10%] border-slate-500 font-medium">Jenis Pembiayaan</th>
                        <th class="w-32 border-slate-500 font-medium">Harga Satuan</th>
                        <th class="w-32 border-slate-500 font-medium">Quantity</th>
                        <th class="w-20 border-slate-500 font-medium">Tipe Pajak</th>
                        <th class="w-32 border-slate-500 font-medium">Jumlah Pajak</th>
                        <th class="w-32 border-slate-500 font-medium">Total Harga</th>
                        <th class="w-[50px] border-slate-500 font-medium"></th>
                        <th class="w-[50px] border-slate-500 font-medium"></th>
                    </tr>
                </thead>


                <tbody class="border-separate pt-10 ">
                    <tr *ngFor="let item of items; let i = index" class="">

                        <td class=" ">
                            <div class="flex py-4 justify-center">{{ i + 1 }}</div>
                        </td>


                        <td class="border-separate border-slate-500">
                            <input [(ngModel)]="item.KETERANGAN" placeholder="Keterangan"
                                class="p-2 w-full tracking-wide rounded-md border-gray-200 border-2 focus:ring-0 outline-blue-200 transition-all"
                                type="text">
                        </td>


                        <td class="border-separate px-2 border-slate-500 ">
                            <ng-select 
                                [items]="arr_rek_data" 
                                [ngModel]="item['unf_rek']!"
                                (change)="on_rek_changed($event,i)">
                            </ng-select>
                        </td>


                        <td>
                            <select [value]="item.JENIS_PEMBIAYAAN"
                                (change)="on_type_pengajuan_changed($event)"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 tracking-wider">
                                >
                                <option *ngFor="let i_jenis_pembiayaan of arr_request_type"
                                    [value]="i_jenis_pembiayaan.NAME_TYPE"
                                    class="tracking-wider"
                                >
                                    {{i_jenis_pembiayaan.NAME_TYPE}}</option>
                            </select>
                        </td>


                        <td class="border-separate px-2 border-slate-500 ">
                            <input [(ngModel)]="item.HARGA_SATUAN" [value]="item.HARGA_SATUAN"
                                (input)="getTotalHarga(i)" placeholder="Harga Satuan"
                                class="p-2 w-full tracking-wide rounded-md border-gray-200 border-2 focus:ring-0 outline-blue-200 transition-all"
                                type="text">
                        </td>


                        <td class="border-separate px-2 border-slate-500 ">
                            <input [(ngModel)]="item.QTY" [value]="item.QTY" placeholder="Quantity"
                                (input)="getTotalHarga(i)"
                                class="p-2 w-full tracking-wide rounded-md border-gray-200 border-2 focus:ring-0 outline-blue-200 transition-all"
                                type="text">
                        </td>


                        <td>
                            <select [(ngModel)]="item.PAJAK_TYPE"
                                (change)="on_pajak_changed($event,i)"
                                class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block p-2.5 ">
                                >
                                <option *ngFor="let pajak of arr_pajak" [value]="pajak.pajak_type">
                                    {{pajak.pajak_type}}
                                </option>
                            </select>
                        </td>


                        <td class="border-separate px-2 border-slate-500">
                            <div class="w-full tracking-wide rounded-md border-gray-200 border-2 overflow-hidden focus:ring-0 outline-blue-200 transition-all flex flex-row"
                                [ngClass]="{'bg-[#00000048]':item.PAJAK_TYPE == null, 'opacity-50':item.PAJAK_TYPE == '-'}">

                                <input [disabled]="item.PAJAK_TYPE == '-'" [(ngModel)]="item.PAJAK_AMOUNT"
                                (input)="getTotalHarga(i)" type="text"
                                    class="p-2 w-full tracking-wide focus:ring-0 outline-blue-200 transition-all">
                                <a class="p-2 bg-[#f7f7f7] shadow-md border-l-2">%</a>
                            </div>
                        </td>


                        <td class="border-separate px-2 border-slate-500">
                            <input 
                                [disabled]="item.bind_calc == true" 
                                [(ngModel)]="item.TOTAL_HARGA" 
                                [value]="item.TOTAL_HARGA" 
                                (change)="getTotal()"
                                class="p-2 w-full tracking-wide rounded-md border-gray-200 border-2 focus:ring-0 outline-blue-200 transition-all"
                                type="number">
                        </td>



                        



                        <td class="border-separate border-slate-500">
                            <button 
                                class="flex justify-center items-center"
                                [ngClass]="{'fill-[#159d42]':item.bind_calc == true, 'fill-[#989898]': item.bind_calc == false}"
                            >
                                <svg (click)="lockThis(i)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                                    <path d="M208,80H176V56a48,48,0,0,0-96,0V80H48A16,16,0,0,0,32,96V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V96A16,16,0,0,0,208,80ZM96,56a32,32,0,0,1,64,0V80H96ZM208,208H48V96H208V208Zm-68-56a12,12,0,1,1-12-12A12,12,0,0,1,140,152Z"></path>
                                </svg>
                                <!-- <div class="px-1"></div>
                                <input type="checkbox"> -->
                            </button>
                        </td>



                        <td class="border-separate border-slate-500">
                            <button (click)="removeItem(i)" class="p-2  text-[#c92f2f] rounded-md fill-[#c92f2f]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 256 256">
                                    <path
                                        d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z">
                                    </path>
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex flex-row justify-between items-center px-4">
            <button (click)="addItem()" class="p-2 my-4 bg-blue-500 text-white rounded-md">Add Item</button>
            <div class="w-60 justify-between flex flex-row">
                <p>Total :</p>
                <p class="">{{getTotal()}}</p>
            </div>
        </div>
    </div>


    <!-- ====================================================== -->
    <!-- ================ ATTACHMENT UPLOAD COMP ================ -->
    <!-- ====================================================== -->


    <!-- <div class="py-8">
        <p class="text-2xl mb-4">Attachment</p>
        <div class="flex">
            <div
                (click)="chooseFile_v2($event)"
                class="w-fit flex flex-row items-center rounded-md border p-2 bg-gray-200 hover:bg-gray-100 transition-all cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="fill-black p-1" viewBox="0 0 256 256">
                    <path
                        d="M209.66,122.34a8,8,0,0,1,0,11.32l-82.05,82a56,56,0,0,1-79.2-79.21L147.67,35.73a40,40,0,1,1,56.61,56.55L105,193A24,24,0,1,1,71,159L154.3,74.38A8,8,0,1,1,165.7,85.6L82.39,170.31a8,8,0,1,0,11.27,11.36L192.93,81A24,24,0,1,0,159,47L59.76,147.68a40,40,0,1,0,56.53,56.62l82.06-82A8,8,0,0,1,209.66,122.34Z">
                    </path>
                </svg>
                <p class="ml-1 mr-1 text-nowrap">Upload file</p>
            </div>
            <div class="px-2"></div>

            <div *ngIf="act_file.file_name != null" 
            class="border-[#b8b8b8] border-2 text-[#848484]  p-1 px-2 w-fit rounded-md text-center flex justify-center items-center">
                <p>{{act_file.file_name}}</p>
                <div class="px-[1px]"></div>
                <div class="px-1"></div>
                <svg
                 (click)="clear_file()"
                 xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="fill-[#d34b4b] cursor-pointer hover:fill-[#fff] hover:bg-[#d34b4b] rounded-full transition-all" viewBox="0 0 256 256">
                    <path d="M165.66,101.66,139.31,128l26.35,26.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"></path>
                </svg>
            </div>
        </div>
    </div> -->


    <!-- ====================================================== -->
    <!-- ================ KOMITE APPROVAL COMP ================ -->
    <!-- ====================================================== -->


    <!-- <div>

        <div class="">
            <p class="text-2xl mb-4 tracking-wide">Pilih Committee Approve</p>
        </div>


        <div class="w-full border rounded-md text-sm">
            <div cdkDropList (cdkDropListDropped)="drop($event)"
                class="w-full h-[400px] overflow-y-scroll p-2 text-sm"                
            >
                <div
                    *ngFor="let item_appr of items_kom_approve; let i = index"
                    class=" w-fit border border-[#0003] rounded-md m-1 mb-2 relative overflow-hidden flex flex-row items-center"
                    cdkDrag
                >
                    <div 
                        class="w-4 h-10 rounded-tr-md rounded-br-md"
                        [ngClass]="{'bg-[#46b946]' : i+1 == items_kom_approve.length}"
                    >
                    </div>
                    
                    <app-c-approval-item 
                        class="flex items-center w-fit cursor-move rounded-md"
                        [(itemData)]="items_kom_approve[i]"
                        [itemIndex]="i"
                        [total_i]="items_kom_approve.length"
                        (deleteThis)="remove_appr_person($event)"
                    ></app-c-approval-item>

                </div>
            </div>

            <div class="border-t-2 p-2 flex flex-row items-center">
                <div class="bg-[#46b946] w-4 h-4 border rounded-full"></div>
                <p class="ml-2"> : Final Approve</p>
            </div>
        </div>


        <div class="">
            <button (click)="addKomite()" class="p-2 my-4 bg-blue-500 text-white rounded-md">Add Komite</button>
        </div>
    </div> -->



    <!-- ====================================================== -->
    <!-- =================== SIGNATURE COMP =================== -->
    <!-- ====================================================== -->

    <!-- <div class="my-8"></div>

    <div class="w-fit flex flex-col">
        <p class="text-2xl mb-4 tracking-wide">Tanda Tangan Pembuat Pengajuan</p>
        <app-c-signature-pad (base64_sig_data)="change_sig_data($event)"></app-c-signature-pad>
    </div> -->



    <!-- ====================================================== -->
    <!-- ==================== SEND REQUEST  ===================== -->
    <!-- ====================================================== -->

    <div class="flex flex-row my-4 items-center">
        <button (click)="savePengajuan()" class="w-32 p-2 bg-blue-500 text-white rounded-md transition-all"
            [ngClass]="{'bg-gray-300' : is_fetching === true}">
            <P [ngClass]="{'placeholder-opacity-100' : is_fetching === true}">Save</P>
            <div></div>
        </button>
        <p class="ml-4 h-6 text-lg text-[#d42929]">{{notif_str}}</p>
    </div>



    <!-- ====================================================== -->
    <!-- ==================== BOTTOM MARGIN ===================== -->
    <!-- ====================================================== -->


    <div class="py-20"></div>


    <!-- =========================================== -->
     <!-- <div (click)="debug_()" class="">Debug</div> -->




</div>