<div class="grow bg-red-400">

    <p class="w-fit text-2xl mb-4">
        New Memo Internal
    </p>


    <!-- ====================================================== -->
    <!-- =================== LOADING WIDGET =================== -->
    <!-- ====================================================== -->

    <div *ngIf="is_fetching">
        <app-c-loading-spin ></app-c-loading-spin>
    </div>
    


    <!-- ====================================================== -->
    <!-- ===================== MAIN WIDGET ==================== -->
    <!-- ====================================================== -->

    <!-- <div *ngIf="!is_fetching">
        <p>asdsaad</p>
        <div class="w-full h-80">
            <quill-editor ></quill-editor>
        </div>
        <quill-view></quill-view>
        <quill-view-html></quill-view-html>
    </div> -->

</div>
