<div>
    <p class="text-2xl mb-4 font-medium tracking-wide rounded-md w-fit">Set Up Jenis Pembiayaan</p>

    <div class="text-sm">
        <div class="flex flex-col justify-center">
            <label class="">Nama Jenis Pembiayaan : </label>
            <p class="text-sm text-[#888] tracking-wide rounded-md w-fit mb-2">
                Pastikan jenis Pembiayaan belum ada / belum dibuat.
            </p>
            <input 
                (input)="listen_inps()"
                [(ngModel)]="act_jenis_pemb"
                class="p-2 w-[30vw] tracking-wide rounded-md border-gray-200 border-2 focus:ring-0 outline-blue-200 transition-all"
            >
        </div>

        <div class="py-2"></div>

        <div class="flex flex-col justify-center">
            <label class="mb-2">Group Jenis Pembiayaan : </label>
            <select 
                [(ngModel)]="act_jenis_pemb_group"
                class="p-2 w-[30vw] tracking-wide rounded-md border-gray-200 border-2 focus:ring-0 outline-blue-200 transition-all"
            >
                <option *ngFor="let item of arr_jenis_pemb_group">
                    {{item}}
                </option>
            </select>
            
        </div>

        <div class="my-6"></div>

        <!-- ======================= CONFIRMATION BUTTON ====================== -->
        <!-- ======================= CONFIRMATION BUTTON ====================== -->
        <!-- ======================= CONFIRMATION BUTTON ====================== -->

        <div class="flex flex-row">
            <button 
                (click)="clear_act_pemb_group()" 
                class="w-24 p-2 bg-red-700 border-2 opacity-100 border-red-600 text-white rounded-md transition-all"
            >
                <p [ngClass]="{'placeholder-opacity-100' : is_fetching === true}">Reset</p>
            </button>

            <div class="mx-1"></div>

            <button 
                (click)="add_jenis_pemb()" class="w-52 p-2 bg-green-700 border-2 opacity-100 border-green-600 text-white rounded-md transition-all"
                [ngClass]="{'bg-gray-300' : is_fetching === true, 'opacity-50' : !allow_add_jenis_pemb}"
            >
                <p [ngClass]="{'placeholder-opacity-100' : is_fetching === true}">Tambah Jenis Pembiayaan</p>
            </button>
        </div>

    </div>


    <!-- ============================================================================= -->
    <!-- =========================== JENIS Pembiayaan TABLE ========================== -->
    <!-- ============================================================================= -->

    <div 
        class="flex flex-col"
    >
        <div class="py-8"></div>
    
        <p class="text-2xl mb-4 font-medium tracking-wide rounded-md w-fit">Jenis Pembiayaan</p>

        <!-- =================== SPAWN THIS LATER ================= -->
        <!-- =================== SPAWN THIS LATER ================= -->
        <!-- =================== SPAWN THIS LATER ================= -->

        <!-- <div *ngIf="show_suppl_action_box">
            <app-c-suppliers-action-box 
                (closePopupEvent)="this.show_suppl_action_box = false"
                [supplData]="act_suppl"
            ></app-c-suppliers-action-box>
        </div> -->

        <!-- =================== FILTER / SEARCH DIV ================= -->
        <!-- =================== FILTER / SEARCH DIV ================= -->
        <!-- =================== FILTER / SEARCH DIV ================= -->

        <div class="mb-4">
            <div class="rounded-full border border-gray-400 p-1 flex flex-row items-center w-fit">
                <input [(ngModel)]="q_search" (keyup.enter)="get_tableData()" placeholder="Search" 
                class="p-2 ml-2 bg-none rounded-full outline-none text-sm w-[200px]">
                
                <div class="mx-1"></div>
    
                <Button 
                    class="p-1 h-fit bg-[#252525] fill-white rounded-full text-white w-fit flex items-center"
                    (click)="get_tableData()"
                >
                    <p class="ml-2 tracking-wide text-sm mb-[0.6px]">Search</p>
                    <div class="mx-[2px]"></div>
                    <svg class="p-[3px]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                        <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
                    </svg>
                </Button>
            </div>
        </div>
            
        <!-- =================== TABLE COMP ================= -->
        <!-- =================== TABLE COMP ================= -->
        <!-- =================== TABLE COMP ================= -->

        <div
            *ngIf="!is_fetching_data"
            class=" border rounded-md flex flex-col justify-between h-[560px]"
        >
            <table class=" w-full table-fixed divide-y divide-gray-200  rounded-t-md text-sm">
    
                <thead class="w-full  divide-y">
                    <tr class="">
                        <th class="w-[30px] border-slate-500 font-medium pl-2 py-4">NO</th>
                        <th class="w-[200px] border-slate-500 font-medium pl-2 py-4">Name Type</th>
                        <th class="w-[100px] border-slate-500 font-medium pl-2 py-4">Group Type</th>
                        <th class="w-[40px] border-slate-500 font-medium pl-2 py-4">Is Active</th>
                        <th class="w-[80px] border-slate-500 font-medium pl-2 py-4">Created By</th>
                        <th class="w-[100px] border-slate-500 font-medium pl-2 py-4">Created Date</th>
                        <th *ngIf="jobCheck_it()" class="w-[130px] border-slate-500 font-medium pl-2 py-4">Action</th>
                    </tr>
                </thead>
    
                <tbody class="border-separate pt-10 ">
                    <tr *ngFor="let item of tableData; let i = index" class="h-8 flex-grow-0 odd:bg-gray-100 ">
                        <td class="px-2 text-center">{{i+1}}</td>
                        <td class="px-2 text-left">{{item.NAME_TYPE}}</td>
                        <td class="px-2 text-center">{{item.group_type}}</td>
                        <td class="px-2 text-center py-2">{{item.is_active}}</td>
                        <td class="px-2 text-center py-2">{{item.created_by}}</td>
                        <td class="px-2 text-center py-2">{{item.created_date}}</td>
                        <td *ngIf="jobCheck_it()" class="px-2 text-center py-2">
                            <button
                                (click)="f_show_jenis_pemb_action_box(i)" 
                                class="mx-2 rounded-full px-4 py-1 bg-[#242424] text-white"
                            >
                                Action
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
    
            <div 
                *ngIf="tableData.length == 0"
                class="w-full flex items-center justify-center h-[420px]"
            >
                No Data
            </div>
    
            <!-- ============== PAGINATION ============== -->
    
            <div class="flex w-full flex-row justify-center items-center p-4 border-t-2 border-[#eee]">
                <button (click)="pgDown()" class="p-2 border border-gray-700 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256">
                        <path
                            d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z">
                        </path>
                    </svg>
                </button>
    
                <input type="number" class="text-xl font-medium mx-4 w-10 text-center " [value]="act_page">
    
                <button (click)="pgUp()" class="p-2 border border-gray-700 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256">
                        <path
                            d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z">
                        </path>
                    </svg>
                </button>
            </div>
    
        </div>
    
        <div
            *ngIf="is_fetching_data"
            class="w-full h-[560px] flex items-center justify-center"
        >
            <p>Fetching data...</p>
        </div>

        <div class="py-8"></div>
    </div>


    
</div>