/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "~@ng-select/ng-select/themes/default.theme.css"; */
/* @import "../node_modules/@ng-select/ng-select/themes/material.theme.css";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css"; */

/* @import '~quill/dist/quill.bubble.css'; */
@import '~quill/dist/quill.snow.css';


body > div:last-child > span + img {
  display: inline !important;
}


/* =================================== */

.ng-dropdown-panel {
  transition: all;
  top: 42px;
  left: -1px;
  background-color: white;
  border-radius: 6px;
  border: 1.4px solid #4a9df0;
  padding: 8px;
  overflow: visible;
  display: block;
  width: fit-content !important;
}

.ng-select-opened {
  background-color: red;
}

.ng-input {
  padding: 2px;
  z-index: 0;
}

.ng-select-container {
  overflow: visible !important;
}

.ng-option {
  border-radius: 2px;
  width: fit-content;
  margin-top: 2px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.ng-option:hover {
  background-color: #ddd;
}

.ng-option-selected {
  border-radius: 2px;
  background-color: #307fca;
  color: white;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.ng-dropdown-panel-items {
  width: fit-content;
}

.ng-value-container {
  overflow: visible;
  display: flex;
  align-items: center;
  padding: 0;
}

.ng-select {
  background-color: white;
  border-radius: 6px;
  border: 2px solid #bbb;
  padding: 8px;
  overflow: visible;
}

/* =================================== */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ================= MAT-TOOLTIP ================== */

.mat-tooltip  {
  white-space: pre;
  /* white-space: pre-line; */
}

.multiline-tooltip{
  white-space: pre-line;
}

/* =================================== */

.mdc-snackbar__surface {
  width: fit-content !important;
  border-radius: 6px !important;
}

.mdc-snackbar__label {
  width: fit-content !important;
  /* background-color: red; */
}

.matsnackbarlabel {
  width: fit-content !important;
}

.mat-mdc-snack-bar-container {
  display: block !important;
  margin-bottom: 60px !important;
  width: fit-content !important;
  flex: none !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  flex-basis: 0 !important;
}

.notif_neutral {
  color: white;
  border-radius: 6px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: medium;

  background-color: #424242;
  border: 2px solid #9b9b9be8;
  /* border-color: #404040e8; */
}

.notif_success {
  color: white;
  border-radius: 6px;
  letter-spacing: 1px;
  font-weight: 500;
  /* font-size: medium; */

  background-color: rgb(33, 110, 33);
}

.notif_failed {
  color: white;
  border-radius: 6px;
  letter-spacing: 1px;
  font-weight: 500;

  background-color: rgb(149, 62, 77);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
