<div class="" id="printThis">
    <div>
        <div class="">
            <p class="text-xl mb-4 font-medium tracking-wide rounded-md w-fit">Detail Pengajuan</p>

            <div class="flex flex-row items-center">
                <div class="flex flex-col">
                    <p class="text-sm tracking-wider rounded-sm">Nomor Order</p>
                    <p class="text-md mb-2 font-medium tracking-wider rounded-sm">{{req_id}}</p>
                </div>

                <div class="px-6">
                    <div class="w-[2px] h-12 bg-[#ccc]"></div>
                </div>

                <div class="flex flex-col">
                    <p class="text-sm tracking-wider rounded-sm">Tanggal Order</p>
                    <p class="text-md mb-2 font-medium tracking-wider rounded-sm">{{order_create_date}}</p>
                </div>
            </div>

        </div>
    </div>

    <div class="my-8"></div>


    <p class="text-xl font-medium py-2 tracking-wide mb-2">Item Pengajuan</p>

    <div class="sm:w-fit w-full overflow-x-auto">    
        <div class="w-fit border border-[#666] rounded-md overflow-auto">
            
        
            <div class="overflow-y-auto h-fit pb-2 border-b-2  text-sm">
                <table class=" w-fit table-fixed divide-y divide-gray-200 rounded-t-md">
                    <thead class="bg-[#f8f8f8] mb-2">
                        <tr>
                            <th class="w-[60px] border-slate-500 font-medium pl-2 py-4">No</th>
                            <th class="w-[200px] border-slate-500 font-medium">Keterangan</th>
                            <th class="w-[200px] border-slate-500 font-medium">Jenis Pembiayaan</th>
                            <th class="w-[300px] border-slate-500 font-medium">Bank</th>
                            <th class="w-[120px] border-slate-500 font-medium">Harga Satuan</th>
                            <th class="w-[60px] border-slate-500 font-medium">Quantity</th>
                            <th class="w-[60px] border-slate-500 font-medium">PPN</th>
                            <th class="w-[60px] border-slate-500 font-medium">PPH</th>
                            <th class="w-[120px] border-slate-500 font-medium">Total Harga</th>
                        
                            <!-- <th class="w-40 border-slate-500 font-medium">Jumlah Pajak</th>
                            <th class="w-40 border-slate-500 font-medium">Total Harga</th>
                            <th class="w-[50px] border-slate-500 font-medium"></th>
                            <th class="w-[50px] border-slate-500 font-medium"></th> -->
                        </tr>
                    </thead>
        
        
                    <tbody class="border-separate pt-10 ">
                        <tr *ngFor="let item of arr_item_pengajuan; let i = index" class="">
        
                            <td class=" ">
                                <div class="flex py-2 justify-center">{{ i + 1 }}</div>
                            </td>
        
                            <td class=" ">
                                <div class="flex py-2 justify-start">{{ item['KETERANGAN'] }}</div>
                            </td>
    
                            <td class=" ">
                                <div class="flex py-2 justify-start">{{ item['JENIS_PEMBIAYAAN'] }}</div>
                            </td>
        
                            <td class=" ">
                                <div class="flex py-2 justify-start text-start flex-col mr-8">
                                    <p>{{item['BANK_NAME'] + ' - ' + item['NO_REK'] + ' - ' + item['NAMA_REK']}}</p>
                                    <!-- <div>{{item['BANK_NAME']}}</div>
                                    <div>{{item['NO_REK']}}</div>
                                    <div>{{item['NAMA_REK']}}</div> -->
                                </div>
                            </td>
        
                            <td class=" ">
                                <div class="flex py-2 justify-end mr-8">{{ format_rp(item['HARGA_SATUAN']) | number: '2.'}}</div>
                            </td>
        
                            <td class=" ">
                                <div class="flex py-2 justify-center">{{ item['QTY'] }}</div>
                            </td>
    
                            <td class=" ">
                                <div class="flex py-2 justify-center">{{ item['PPN'] ? item['PPN']+'%' : '-'}}</div>
                            </td>
        
                            <td class=" ">
                                <div class="flex py-2 justify-center">{{ item['PPH'] ? item['PPH']+'%' : '-' }}</div>
                            </td>
    
        
                            <td class=" ">
                                <div class="flex py-2 justify-end mr-8">{{ item['TOTAL_HARGA'] | number: '2.'}}</div>
                            </td>
        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- ============================================== -->
    <!-- ================== FILE COMP ================= -->
    <!-- ============================================== -->

    <div class="my-12"></div>


    <div  class="flex flex-col justify-start">
        <div class="text-xl mb-2 font-medium tracking-wide rounded-md w-fit">Uploaded file</div>

        <div *ngIf="!isFetching_file">
            <div
                *ngIf="file_data['file_name'] != ''"
            >
                <div class="flex sm:flex-row  flex-col mt-2">
                    <div class="flex flex-row p-2 bg-[#fff] border-2 border-[#aaa] w-fit rounded-md text-[#000] fill-[#000] items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                            <path d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"></path>
                        </svg>
                        <div class="mx-2">{{file_data['file_name']}}</div>
                    </div>
        
                    <div class="mx-1"></div>
        
                    <div class="flex flex-row sm:mt-0 mt-2">
                        <button (click)="file_download()" class="flex flex-row p-2 border-2 border-[#aaa] bg-[#fff] w-fit rounded-md text-black fill-black items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                                <path d="M224,144v64a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V144a8,8,0,0,1,16,0v56H208V144a8,8,0,0,1,16,0Zm-101.66,5.66a8,8,0,0,0,11.32,0l40-40a8,8,0,0,0-11.32-11.32L136,124.69V32a8,8,0,0,0-16,0v92.69L93.66,98.34a8,8,0,0,0-11.32,11.32Z"></path>
                            </svg>
                        </button>
            
                        <div class="mx-1"></div>
            
                        <button
                            (click)="file_view()" 
                            class="flex flex-row p-2 border-2 border-[#aaa] bg-[#fff] w-fit rounded-md text-black fill-black items-center"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                                <path d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"></path>
                            </svg>
                        </button>
                    </div>
    
                </div>
            </div>
    
    
            <div
                *ngIf="file_data['file_name'] == ''"
                class="text-lg text-[#999]" 
            >
                <p>No file uploaded</p>
            </div>
        </div>

        <div *ngIf="isFetching_file" class="w-full flex h-fit"> 
            <app-c-loading-spin [size]="40"></app-c-loading-spin> 
        </div>



    </div>
    

    <div class="my-12"></div>


    <!-- ============================================================================ -->
    <!-- ============================== LIST APPROVAL =============================== -->
    <!-- ============================================================================ -->

    <div class="flex flex-col flex-shrink-0 w-full sm:w-[80vw]">

        <div class="text-xl mb-4 font-medium tracking-wide rounded-md w-fit">Approval</div>

        <div class="w-full overflow-x-auto pb-2">
            <div *ngIf="!isFetching_approval" class="flex flex-shrink-0 w-fit">

                <!-- ======================================================= -->
                <!-- ================== INDIVIDUAL COMPs =================== -->
                <!-- ======================================================= -->

                <div
                    *ngFor="let item_approval of arr_approval_data"
                    class="w-80 h-fit border-2 border-[#ddd] rounded-md flex flex-col p-3 mr-6 relative"
                    [ngClass]="{
                        'border-green-700 bg-[#fbfffa]' : item_approval['STATUS'] == 'AP',
                        'border-red-700 bg-[#fffcfc]' : item_approval['STATUS'] == 'RJ',
                        'border-yellow-500 bg-[#fffbef]' : item_approval['STATUS'] == 'RC',
                    }"
                >   
                             
                    <p class="font-medium tracking-wide text-lg text-nowrap">{{item_approval['empl_name']}}</p>
                    <p class="text-sm">{{item_approval['job_name']}}</p>

                    <p *ngIf="item_approval['STAT_DATE'] != null" class="text-sm">{{item_approval['STAT_DATE']}}</p>
                    <p *ngIf="item_approval['STAT_DATE'] == null" class="text-sm">-</p>


                    <!-- ---------------------------------------------------------- -->
                    <!-- ---------------------- REASON COMP ----------------------- -->
                    <!-- ---------------------------------------------------------- -->

                    <div class="flex flex-col mt-2"> 
                        <p>Reason :</p>
                        <div class="border-2 h-24 w-full rounded-md border-[#c2c2c2] mt-2">
                            <p class="m-2">{{item_approval['REASON']}}</p>
                        </div>
                    </div>

                    <!-- ---------------------------------------------------------- -->
                    <!-- ---------------------- STATUS COMP ----------------------- -->
                    <!-- ---------------------------------------------------------- -->

                    <div class="flex justify-between flex-row flex-grow-0 items-center">
                        <div 
                            class="flex flex-col justify-center items-center w-32 flex-grow-0 mt-2 px-2 p-2 rounded-md text-white"       
                            [ngClass]="{
                                'bg-green-700' : item_approval['STATUS'] == 'AP',
                                'bg-red-700' : item_approval['STATUS'] == 'RJ',
                                'bg-yellow-500' : item_approval['STATUS'] == 'RC',
                            }"             
                        > 
                            {{format_status_str(item_approval['STATUS'])}}
                        </div>
    
                        <div class="relative">
                            <img class="h-[40px]" [src]="item_approval['sig_base64']">
                        </div>
                    </div>


                </div>
            </div>

            <div *ngIf="isFetching_approval" class="w-full flex justify-center items-center h-fit"> 
                <app-c-loading-spin [size]="60"></app-c-loading-spin> 
            </div>
        </div>
    </div>


    <!-- ============================================================================ -->
    <!-- ============================== APPROVAL SPAWN =============================== -->
    <!-- ============================================================================ -->

    <dialog
        #spawnApprove
        *ngIf="spawn_box_approve"
        class="fixed h-[100vh] w-[100vw] top-0 left-0 bg-[#00000058] flex justify-center items-center"  
    >
        <app-c-approve-box [req_data]="send_to_dialog" (dialog_exit)="dialog_approve_exit()"></app-c-approve-box>
    </dialog>     

    <div class="my-6"></div>

    <div class="flex flex-row">
        <button 
            class="p-2 pb-[10px] px-4 rounded-md text-lg tracking-wide text-white border-2 border-[#2f7048] bg-[#3b905b] mr-4" (click)="dialog_approve_spawn()"
        >Proses Pengajuan</button>

        <button 
            class="p-2 pb-[10px] px-4 rounded-md text-lg tracking-wide text-white border-2 border-[#2f5370] bg-[#3b6a90]" (click)="export_pdf()"
        >Export PDF
        </button>
    </div>


    <div class="my-[40vh]"></div>


</div>